In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./CSV_files/Csv_weather_data4.csv")
df

         Date  Temperature  Windspeed  Event
0    1/1/2020           51         15  sunny
1    2/1/2020           42         20  sunny
2    3/1/2020           46         21  windy
3    4/1/2020           53         21  rainy
4    5/1/2020           40         25  sunny
5    6/1/2020           39         24  rainy
6    7/1/2020           39         26  rainy
7    8/1/2020           54         70  windy
8    9/1/2020           20         24  rainy
9   10/1/2020           16         25  snowy
10  11/1/2020           21         21  snowy
11  12/1/2020           25         78  sunny
12  13/1/2020           32         21  sunny
13  14/1/2020           46         65  sunny
14  15/1/2020           51         78  windy
15  16/1/2020           52         21  sunny
16  17/1/2020           56         55  sunny
17  18/1/2020           60         12  sunny
18  19/1/2020           30         45  rainy
19  20/1/2020           25         85  windy

In [3]:
df.head(3)

       Date  Temperature  Windspeed  Event
0  1/1/2020           51         15  sunny
1  2/1/2020           42         20  sunny
2  3/1/2020           46         21  windy

In [4]:
df.tail()

         Date  Temperature  Windspeed  Event
15  16/1/2020           52         21  sunny
16  17/1/2020           56         55  sunny
17  18/1/2020           60         12  sunny
18  19/1/2020           30         45  rainy
19  20/1/2020           25         85  windy

In [5]:
data =  {
        'Date' : ['1/1/2020','2/1/2020','3/1/2020','4/1/2020','5/1/2020','6/1/2020'],
        'Temperature' : [51,42,46,53,40,39],
        'Windspeed' : [15,20,21,21,25,24],
        'Event' : ['sunny','sunny','windy','rainy','sunny','rainy']
        }

df2 = pd.DataFrame(data)
df2

       Date  Temperature  Windspeed  Event
0  1/1/2020           51         15  sunny
1  2/1/2020           42         20  sunny
2  3/1/2020           46         21  windy
3  4/1/2020           53         21  rainy
4  5/1/2020           40         25  sunny
5  6/1/2020           39         24  rainy

In [6]:
df.shape

(20, 4)

In [7]:
rows2,columns2 = df2.shape
rows2

6

# Slicing

In [8]:
df[17:2:-2]

         Date  Temperature  Windspeed  Event
17  18/1/2020           60         12  sunny
15  16/1/2020           52         21  sunny
13  14/1/2020           46         65  sunny
11  12/1/2020           25         78  sunny
9   10/1/2020           16         25  snowy
7    8/1/2020           54         70  windy
5    6/1/2020           39         24  rainy
3    4/1/2020           53         21  rainy

In [9]:
df.columns

Index(['Date', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [10]:
df.Date.head() 
#df.Date
#df['Date']

0    1/1/2020
1    2/1/2020
2    3/1/2020
3    4/1/2020
4    5/1/2020
Name: Date, dtype: object

In [11]:
df[3:10][["Date"]]

        Date
3   4/1/2020
4   5/1/2020
5   6/1/2020
6   7/1/2020
7   8/1/2020
8   9/1/2020
9  10/1/2020

In [12]:
type(df[3:10][["Date"]]) #Its a Dataframe like the whole table

pandas.core.frame.DataFrame

In [13]:
df[5:11].Date

5      6/1/2020
6      7/1/2020
7      8/1/2020
8      9/1/2020
9     10/1/2020
10    11/1/2020
Name: Date, dtype: object

In [14]:
type(df[5:11].Date) #its a series just like a column

pandas.core.series.Series

In [15]:
df[3:10][["Date","Event"]] #df[3:10].Date.Event is Error

        Date  Event
3   4/1/2020  rainy
4   5/1/2020  sunny
5   6/1/2020  rainy
6   7/1/2020  rainy
7   8/1/2020  windy
8   9/1/2020  rainy
9  10/1/2020  snowy

# Operations....

In [16]:
df.Temperature.max()

60

In [17]:
df.Temperature.min()

16

In [18]:
df.Windspeed.mean()

37.6

In [19]:
df.Temperature.std()

13.44736327119069

In [20]:
df.describe()

       Temperature  Windspeed
count    20.000000  20.000000
mean     39.900000  37.600000
std      13.447363  24.435522
min      16.000000  12.000000
25%      28.750000  21.000000
50%      41.000000  24.500000
75%      51.250000  57.500000
max      60.000000  85.000000

In [21]:
df[0:11][["Date","Temperature","Event"]][df.Temperature>30][df.Event=='sunny']

<ipython-input-21-9cb13e362cb7>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[0:11][["Date","Temperature","Event"]][df.Temperature>30][df.Event=='sunny']

       Date  Temperature  Event
0  1/1/2020           51  sunny
1  2/1/2020           42  sunny
4  5/1/2020           40  sunny

# Set Index

In [22]:
df2

       Date  Temperature  Windspeed  Event
0  1/1/2020           51         15  sunny
1  2/1/2020           42         20  sunny
2  3/1/2020           46         21  windy
3  4/1/2020           53         21  rainy
4  5/1/2020           40         25  sunny
5  6/1/2020           39         24  rainy

In [23]:
df2.set_index("Date") ##its a separate dataframe, original dataframe is not changed

          Temperature  Windspeed  Event
Date
1/1/2020           51         15  sunny
2/1/2020           42         20  sunny
3/1/2020           46         21  windy
4/1/2020           53         21  rainy
5/1/2020           40         25  sunny
6/1/2020           39         24  rainy

In [24]:
df2.set_index("Date",inplace=True) # df2=df2.set_index("Date")
df2

          Temperature  Windspeed  Event
Date
1/1/2020           51         15  sunny
2/1/2020           42         20  sunny
3/1/2020           46         21  windy
4/1/2020           53         21  rainy
5/1/2020           40         25  sunny
6/1/2020           39         24  rainy

In [25]:
df2.loc["2/1/2020"] # Now date can be used to access dataframe objects

Temperature       42
Windspeed         20
Event          sunny
Name: 2/1/2020, dtype: object

In [26]:
df2.reset_index(inplace=True)
df2

       Date  Temperature  Windspeed  Event
0  1/1/2020           51         15  sunny
1  2/1/2020           42         20  sunny
2  3/1/2020           46         21  windy
3  4/1/2020           53         21  rainy
4  5/1/2020           40         25  sunny
5  6/1/2020           39         24  rainy