In [1]:
import pandas as pd

# Creating a series

## from list

In [3]:
S = pd.Series(['math','science','english','physical education'])
S

0                  math
1               science
2               english
3    physical education
dtype: object

## from dictionary
- simultaneously specifies the index

In [13]:
S = pd.Series({
    'a':'math',
    'b':'science',
    'c':'english',
    'd':'physical education'})
S

a                  math
b               science
c               english
d    physical education
dtype: object

## from scaller
- if index provided it will repeat the scaller

In [14]:
S = pd.Series(56)
S

0    56
dtype: int64

In [15]:
S = pd.Series(56, index=[1,2,3,4,5])
S

1    56
2    56
3    56
4    56
5    56
dtype: int64

# index attribute
- changes the default index
- we can use different values as index like : integers, float, alphabets
- we must provide the same number of index as the number of elements in series otherwise it will throw error

In [4]:
S = pd.Series(['math','science','english','physical education'], index= ['A','B','C','D'])
S

A                  math
B               science
C               english
D    physical education
dtype: object

# dtype attribute
- changes the datatype of series

In [8]:
S = pd.Series([45,65,78,41], dtype= float)
S

0    45.0
1    65.0
2    78.0
3    41.0
dtype: float64

# name attribute
- gives name to series

In [9]:
S = pd.Series([45,65,78,41], name= "Score")
S

0    45
1    65
2    78
3    41
Name: Score, dtype: int64

# Series supports almost all numpy properties and methods

In [16]:
S = pd.Series([1,2,3,4,5,6,7,8,9])
S

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [24]:
S[-4::-1]

5    6
4    5
3    4
2    3
1    2
0    1
dtype: int64

In [23]:
S.ndim, S.shape, S.size

(1, (9,), 9)

In [25]:
S[S>5]

5    6
6    7
7    8
8    9
dtype: int64

In [18]:
S.max(), S.min(), S.mean()

(9, 1, 5.0)

In [26]:
Q = pd.Series([-1,-5,-8])
Q

0   -1
1   -5
2   -8
dtype: int64

In [29]:
S-Q # Pandas can handle Missing Data ( the length mismatch didnot throw an error), NAN = Not A Number

0     2.0
1     7.0
2    11.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64