In [1]:
import numpy as np

## np.char.sum( )
- concats strings

In [2]:
str_1 = "This is Numpy Module Seven"
str_2 = "tHE fOLLOWING sUBJECT iS pANDAS"

In [3]:
np.char.add(str_1,str_2)

array('This is Numpy Module SeventHE fOLLOWING sUBJECT iS pANDAS',
      dtype='<U57')

## np.char.multiply( )
- repeats the string that many times

In [4]:
np.char.multiply(str_1,5)

array('This is Numpy Module SevenThis is Numpy Module SevenThis is Numpy Module SevenThis is Numpy Module SevenThis is Numpy Module Seven',
      dtype='<U130')

## np.char.lower( )
- convert string to lower case

In [5]:
np.char.lower(str_2)

array('the following subject is pandas', dtype='<U31')

## np.char.upper( )
- convert string to upper case

In [6]:
np.char.upper(str_1)

array('THIS IS NUMPY MODULE SEVEN', dtype='<U26')

## np.char.title( )
- convert string to title case

In [7]:
np.char.title(str_2)

array('The Following Subject Is Pandas', dtype='<U31')

## np.char.center( )
- takes 3 parameters
- the string which we want to put in center
- the length of complete string whose center will contain the upper mentioned string
- fillchar = the charecter that will fill the rest of the gap

In [8]:
str_3 = "Module - 7"

np.char.center(str_3,50,fillchar="*")

array('********************Module - 7********************', dtype='<U50')

## np.char.split( )
- by default it splits at blankspace
- sep = the string that will commense the split (the string will not be present after split)

In [9]:
np.char.split(str_1, sep = 'e')

array(list(['This is Numpy Modul', ' S', 'v', 'n']), dtype=object)

## np.char.splitlines( )
- it splits at newline (\n)

In [10]:
str_4 = "hello \n welcome to the new course"
np.char.splitlines(str_4)

array(list(['hello ', ' welcome to the new course']), dtype=object)

## np.char.join( )
- adds the sub-string between every charecter of the selected string

In [11]:
str_5 = "dmy"
np.char.join("/-",str_5)

array('d/-m/-y', dtype='<U7')

In [12]:
str_6 = "IAS"
np.char.join(['/','.'],[str_5,str_6])

array(['d/m/y', 'I.A.S'], dtype='<U5')

## np.char.replace( )
- replaces the selected substring in the selected string

In [13]:
str_1

'This is Numpy Module Seven'

In [14]:
np.char.replace(str_1,"Numpy","Pandas")

array('This is Pandas Module Seven', dtype='<U27')

## string comparisions

In [15]:
str_7 = "Lion"
str_8 = "Pig"

In [16]:
np.char.equal(str_7,str_8) # compares two strings to be equal

array(False)

In [17]:
np.char.not_equal(str_7,str_8) # compares two strings not being equal

array(True)

In [18]:
np.char.less(str_7,str_8) # compares strings to be less than

array(True)

In [19]:
np.char.less_equal(str_8,str_7) # compares strings to be less or equal

array(False)

In [20]:
np.char.greater(str_7,str_8) # compares strings to be greater

array(False)

In [21]:
np.char.greater_equal(str_8,str_7) # compares strings to be greater or equal

array(True)

## np.char.count( )
- to count the number of times the substring has appeared in the string
- we can also specify the starting and ending index to start counting

In [23]:
str_1

'This is Numpy Module Seven'

In [24]:
np.char.count(str_1,"e")

array(3)

## np.char.find( )
- to find the index of a perticular substring in a string
- we can also specify the starting and ending index of finding

In [26]:
np.char.find(str_1,"is",3)

array(5)