# Why to save an ML model?

- training process of a model can be preety time consuming
- also training evertime we habe to do a prediction is a waste of time
- so we save the trained-model as a file to be used later directly
- we can also share the file and any one who has acces to th file can predict

# Serialization & Deserialization

- Serialization : The process of saving a model / dumping the data of a model to a file 
- Deserialization : The process of restoring a saved model

# First creating a model
- same model of predicting house prices

In [1]:
import pandas as pd
import numpy as np
import math

from sklearn import linear_model

In [2]:
df = pd.read_csv('./database/csv_files/Csv_home_prices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
df.fillna(math.floor(df.bedrooms.mean()),inplace = True)
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
model = linear_model.LinearRegression()
model.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [5]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [6]:
model.intercept_

221323.00186540408

In [7]:
model.predict([[50000,10,2]])

array([6051870.46393426])

# Saving Model using Pickle

In [8]:
import pickle

In [22]:
#  mode = 'wb' stands for write binary
# saving file

pickle.dump(model,open('./saved models/pickle_saved_model', mode = 'wb'))

In [24]:
# opening saved model
# 'rb' = read binary

retived_model = pickle.load(open('./saved models/pickle_saved_model', mode='rb'))

In [25]:
# all following datas and predictions of saved model is same as original model

retrived_model.predict([[50000,10,2]])

array([6051870.46393426])

In [26]:
retrived_model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [27]:
retrived_model.intercept_

221323.00186540408

# Saving Model using Joblib (from sklearn)
- efficient with a huge number of numpy arrays

In [14]:
import joblib

In [28]:
# saving the model

joblib.dump(model,'./saved models/joblib_saved_model')

['./saved models/joblib_saved_model']

In [29]:
retrived_model = joblib.load('./saved models/joblib_saved_model')

In [30]:
# all following datas and predictions of saved model is same as original model

retrived_model.predict([[50000,10,2]])

array([6051870.46393426])

In [31]:
retrived_model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [32]:
retrived_model.intercept_

221323.00186540408