In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# Dataset

In [2]:
df = pd.read_csv('./database/csv_files/Csv_titanic.csv', usecols=['Pclass','Sex','Age','Fare'] )
y = pd.read_csv('./database/csv_files/Csv_titanic.csv', usecols=['Survived'] )
df.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [3]:
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

# Data Cleaning

In [4]:
df.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [5]:
df2 = df.fillna(df.Age.mean())
df2.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [6]:
y.isnull().sum()

Survived    0
dtype: int64

# Encoding Catagorical varaibles

In [7]:
df3 = pd.get_dummies(df2, drop_first=True)
df3.head()

   Pclass   Age     Fare  Sex_male
0       3  22.0   7.2500         1
1       1  38.0  71.2833         0
2       3  26.0   7.9250         0
3       1  35.0  53.1000         0
4       3  35.0   8.0500         1

# Normalization

In [8]:
scaler = MinMaxScaler()

In [9]:
df4 = pd.DataFrame(scaler.fit_transform(df3), columns=df3.columns)
df4.head()

   Pclass       Age      Fare  Sex_male
0     1.0  0.271174  0.014151       1.0
1     0.0  0.472229  0.139136       0.0
2     1.0  0.321438  0.015469       0.0
3     0.0  0.434531  0.103644       0.0
4     1.0  0.434531  0.015713       1.0

# Train Test Split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(df4,y, train_size=0.8)

# Naive Bayes

In [23]:
from sklearn.naive_bayes import GaussianNB

In [24]:
model = GaussianNB()

In [25]:
model.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [26]:
model.score(X_test,y_test)

0.776536312849162

In [29]:
print(y_test[:10])
print(model.predict(X_test[:10]))

     Survived
428         0
408         0
279         1
154         0
91          0
335         0
4           0
756         0
110         0
366         1
[0 0 1 0 0 0 0 0 0 1]

In [31]:
#  shows the proability of each catagory
model.predict_proba(X_test[:10])

array([[0.96629338, 0.03370662],
       [0.9635225 , 0.0364775 ],
       [0.44913734, 0.55086266],
       [0.96623517, 0.03376483],
       [0.96304149, 0.03695851],
       [0.96631179, 0.03368821],
       [0.96683581, 0.03316419],
       [0.96595523, 0.03404477],
       [0.65280044, 0.34719956],
       [0.0184439 , 0.9815561 ]])