In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,KFold,StratifiedKFold,cross_val_score
from sklearn.decomposition import PCA

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB

from sklearn.datasets import load_iris

# Dataset

In [3]:
iris = load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# Normalization

In [5]:
scaler = MinMaxScaler()
df2 = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
df2.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667

# Cross Val Scores

In [6]:
classifire_names = ['Logistic_Regression','SVM','Decision_tree','Random_Forest','Gaussian_NB','Multinomial_NB','Bernaulli_NB']
algorithm_names = pd.DataFrame(classifire_names, columns=['Algorithm'])


scores = pd.DataFrame([cross_val_score(LogisticRegression(max_iter=1000),df2,iris.target),
cross_val_score(SVC(),df2,iris.target),
cross_val_score(DecisionTreeClassifier(),df2,iris.target),
cross_val_score(RandomForestClassifier(),df2,iris.target),
cross_val_score(GaussianNB(),df2,iris.target),
cross_val_score(MultinomialNB(),df2,iris.target),
cross_val_score(BernoulliNB(),df2,iris.target)]
            , columns= ['iteration'+str(i+1) for i in range(5)])


mean_scores = []
for i in range(scores.shape[0]):
    mean_scores.append(scores.iloc[i].mean())

mean_scores_df = pd.DataFrame(mean_scores,columns=['mean_scores'])

In [7]:
pd.concat([algorithm_names,scores,mean_scores_df], axis=1)

,Algorithm,iteration1,iteration2,iteration3,iteration4,iteration5,mean_scores
0,Logistic_Regression,0.833333,0.966667,0.933333,0.900000,1.000000,0.926667
1,SVM,0.966667,1.000000,0.933333,0.900000,1.000000,0.960000
2,Decision_tree,0.966667,0.966667,0.900000,1.000000,1.000000,0.966667
3,Random_Forest,0.966667,0.966667,0.933333,0.933333,1.000000,0.960000
4,Gaussian_NB,0.933333,0.966667,0.933333,0.933333,1.000000,0.953333
5,Multinomial_NB,0.833333,0.766667,0.866667,0.733333,0.766667,0.793333
6,Bernaulli_NB,0.366667,0.400000,0.333333,0.400000,0.333333,0.366667