# Chapter 11 (Advanced Functions)

## enumerate( ) 
- to access both position and element in a list

In [1]:
l = ['horse','dog','whale','cat','mouse','dragons']

In [3]:
pos = 0
for i in l:
    print(f"{pos} --- {i}")
    pos+=1

# for i in range(len(l)):
#     print(f"{i} --- {l[i]}")

0 --- horse
1 --- dog
2 --- whale
3 --- cat
4 --- mouse
5 --- dragons

In [4]:
for pos,i in enumerate(l):
    print(f'{pos} --- {i}')

0 --- horse
1 --- dog
2 --- whale
3 --- cat
4 --- mouse
5 --- dragons

## map( )
- applies a function to all elements in a list / tuple and creates a map object
- it can then be changed to required datatype (list / tuple)

In [8]:
def square(n):
    return n**2

num = [1,2,3,7,8,9,6,5,4]

sq = []
for i in num:
    sq.append(square(i))
    
sq

[1, 4, 9, 49, 64, 81, 36, 25, 16]

In [11]:
num = [1,2,3,7,8,9,6,5,4]

sq = list(map(lambda n:n**2,num))
sq

[1, 4, 9, 49, 64, 81, 36, 25, 16]

In [18]:
names = ['harry potter','fantastic beasts','angels and demons','the davinchi code']

lengths = tuple(map(len,names))
lengths

(12, 16, 17, 17)

- Theory -
Map object is iterable only once, because its an iterator

In [12]:
map_object = map(lambda n:n**2,num)
map_object

In [13]:
for i in map_object:
    print(i)

1
4
9
49
64
81
36
25
16

In [15]:
for j in map_object:
    print(j) 

# doesnt work

## filter( ) 
- applies a function to all elements in a list / tuple and filters all those elements that satisfy the condition 
- creates a filter object
- it can then be changed to required datatype (list / tuple)
- a filter object is also iterable only once like a map object, because its an iterator

In [20]:
def is_even(n):
    return n%2==0

nums = [1,2,3,4,5,6,7,8,9]

even = []
for i in nums:
    if(is_even(i)):
        even.append(i)
        
even

[2, 4, 6, 8]

In [21]:
nums = [1,2,3,4,5,6,7,8,9]

even = list(filter(lambda n:n%2==0 , nums))
even

[2, 4, 6, 8]

## zip( ) 
- takes two or more list/tuples maps them accorfing to index and returns a zip object 
- zip object being like - < (data11,data12,data13..),(data21,data22,data23..),(data31,data32,data33..),(data41,data42,data43.)>
- zip object is an iterator like others
- zip object can be converted into desired datatype like list/tuple
- zip object can only be converted into dictionaries if it has ziped only 2 lists/tuples, because the first listwill be key and the second one will be the value

e.g - <(data11,data12),(data21,data22),(data31,data32)....>

it will be converted to - {'data11' : data12 , 'data21' : data22 , 'data31' : data32 , ...}

- zip( ) will stop when it reaches limit of one of the lists provided (minimum length list)

In [29]:
list1 = ['user1','user2','user3','user4']
list2 = ['Levi','Swann','Griner']

list3 = list(zip(list1,list2))
list3

[('user1', 'Levi'), ('user2', 'Swann'), ('user3', 'Griner')]

In [32]:
#Note , lists of this format can alsobe converted to dictionaries

dict(list3)

# list3 = dict(zip(list1,list2))
# list3

#dictionaries cant be created if more than one lists are involved

{'user1': 'Levi', 'user2': 'Swann', 'user3': 'Griner'}

In [33]:
tuple1 = ('user1','user2','user3','user4')
tuple2 = ('Levi','Swann','Griner')
tuple3 = (12,45,78,98)

data = list(zip(tuple1,tuple2,tuple3))
data

[('user1', 'Levi', 12), ('user2', 'Swann', 45), ('user3', 'Griner', 78)]

In [38]:
# task - append the maximum value in same index from l1 & l2 into new

l1 = [8,6,9,2,8,6,7]
l2 = [6,5,10,9,9,1,5]

new = []

# normal approach

# for i in range(len(l1)):
#     if(l1[i]>l2[i]):
#         new.append(l1[i])
#     else:
#         new.append(l2[i])
       
# zip approach

# for i in zip(l1,l2):
#     new.append(max(i))

#appraoch 3

new = list(map(max,zip(l1,l2)))

new

[8, 6, 10, 9, 9, 6, 7]

In [56]:
# dezip existing zip

l1 = [8,6,9,2,8,6,7]
l2 = [6,5,10,9,9,1,5]

l3 = list(zip(l1,l2))
l3

[(8, 6), (6, 5), (9, 10), (2, 9), (8, 9), (6, 1), (7, 5)]

In [57]:
# using * operator

dezip = zip(*l3)
list(dezip)

[(8, 6, 9, 2, 8, 6, 7), (6, 5, 10, 9, 9, 1, 5)]

In [58]:
dezip = zip(*l3)
l4,l5 = list(dezip)
print(list(l4))
print(list(l5))

[8, 6, 9, 2, 8, 6, 7]
[6, 5, 10, 9, 9, 1, 5]

## all ( )
- a function equivalence of 'and' logical operator
- returns true if all values in list is true, if one is false - it returns false

In [75]:
# check if all values in list are even

l1 = [2,4,6,8]
l2 = [2,5,8,4,6]

# normal approach

# def is_all_even(l):
#     for i in map(lambda j:j%2==0,l):
#         if not i:
#             return False
#     return True

# print(is_all_even(l1))
# print(is_all_even(l2))

# all( ) function

is_all_even = lambda l:all(map(lambda j:j%2==0,l))

print(is_all_even(l1))
print(is_all_even(l2))

True
False

## any ( )
- a function equivalence of 'or' logical operator
- returns true if any one value in list is true, if all values are false - it returns false

In [77]:
l1 = [1,5,7,9]
l2 = [2,5,8,4,6]

is_any_even = lambda l:any(map(lambda j:j%2==0,l))

print(is_any_even(l1))
print(is_any_even(l2))

False
True

## min( ) & max( )
- finds out minimum and maximum values resp.
- it has a key parameter which takes the basis on which min/max is to be found, (usually a function that returns the basis)

In [11]:
nums = [1,2,8,6,7,4,3,9,45,25,78,154]

min(nums) , max(nums)

(1, 154)

In [12]:
names = ['David','Harrison','Gunthur','Harold','Yusuf']

min(names) , max(names)

# usually max, min in string give accordig to their dictionary position

('David', 'Yusuf')

In [13]:
# max, min on basis of word length

names = ['David','Harrison','Gunthur','Harold','Yusuf','Tom']

min(names,key = len) , max(names,key = len)

('Tom', 'Harrison')

In [15]:
# max, min on basis of dictionary position of last chareter

names = ['David','Harrison','Gunthur','Harold','Yusuf','Tom']

min(names,key = lambda l:l[-1]) , max(names,key = lambda l:l[-1])

('David', 'Gunthur')

In [30]:
students_info = [{'name' : 'Thomas' , 'age' : 23 , 'score' : 90},
                 {'name' : 'Arthur' , 'age' : 30 , 'score' : 25},
                 {'name' : 'John' , 'age' : 18 , 'score' : 47},
                 {'name' : 'Finn' , 'age' : 12 , 'score' : 40}]

# basis of age
min(students_info , key = lambda Dict:Dict['age']) , max(students_info , key = lambda Dict:Dict['age'])

({'name': 'Finn', 'age': 12, 'score': 40},
 {'name': 'Arthur', 'age': 30, 'score': 25})

In [32]:
# basis of score

min(students_info , key = lambda Dict:Dict['score']) , max(students_info , key = lambda Dict:Dict['score'])

({'name': 'Arthur', 'age': 30, 'score': 25},
 {'name': 'Thomas', 'age': 23, 'score': 90})

In [33]:
# I only want to print name , basis - score

min(students_info , key = lambda Dict:Dict['score'])['name'] , max(students_info , key = lambda Dict:Dict['score'])['name']

('Arthur', 'Thomas')

In [35]:
students = { 'Jeson' : {'score' : 75 , 'age' : 25},
             'Maddy' : {'score' : 64 , 'age' : 26},
             'Dom' : {'score' : 26 , 'age' : 28},
             'Sally' : {'score' : 85 , 'age' : 23}}

In [37]:
# basis age

min(students , key = lambda KEY:students[KEY]['age']) , max(students , key = lambda KEY:students[KEY]['age'])

('Sally', 'Dom')

## sorted ( )

- sorts items in a perticular order, returns a *'List'*
- takes key parameter just like min( )/max( )
- by default it is accending
- for descending sort , mention 'reverse = True' , parameter

In [58]:
# we had a .sort() method for list, which can sort

# but, its problems are :
#     - its a method, that changes the original value
#     - it cant be used on unmutable datatypes like tuples, because it cannot change the original value

l1 = [1,5,3,4,9,7,63,4,61,8,16,15]
l2 = l1.copy()

l1.sort()
l1

[1, 3, 4, 4, 5, 7, 8, 9, 15, 16, 61, 63]

In [53]:
sorted(l2),l2

([1, 3, 4, 4, 5, 7, 8, 9, 15, 16, 61, 63],
 [1, 5, 3, 4, 9, 7, 63, 4, 61, 8, 16, 15])

In [55]:
names = ('harry','ron','hermione','dumbledoor','mcgoniclle')

# names.sort()------error

sorted(names)

['dumbledoor', 'harry', 'hermione', 'mcgoniclle', 'ron']

In [56]:
# sorting descending order

sorted(names, reverse = True)

['ron', 'mcgoniclle', 'hermione', 'harry', 'dumbledoor']

In [63]:
guitars = [{'model' : 'Tune Pro' , 'price' : 2240000},
           {'model' : 'Ace 600' , 'price' : 24000},
           {'model' : 'Spark 30s' , 'price' : 55000},
           {'model' : 'Spark X' , 'price' : 740000},
           {'model' : 'Rock 900' , 'price' : 60000}]

sorted(guitars , key = lambda Dict:Dict['price'])

[{'model': 'Ace 600', 'price': 24000},
 {'model': 'Spark 30s', 'price': 55000},
 {'model': 'Rock 900', 'price': 60000},
 {'model': 'Spark X', 'price': 740000},
 {'model': 'Tune Pro', 'price': 2240000}]

## help( )
- provide documentation of inbuilt functions if not known

In [66]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [67]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

## Doc Strings
- used to documentize the purpose of a function for user
- all inbuilt finctions have doc strings in them, which help( ) function also shows
- we can also make custom doc strings for user defined functions

In [69]:
# accessing doc strings of predefined functions

len.__doc__

'Return the number of items in a container.'

In [70]:
sorted.__doc__

'Return a new list containing all items from the iterable in ascending order.\n\nA custom key function can be supplied to customize the sort order, and the\nreverse flag can be set to request the result in descending order.'

In [71]:
# Custom doc strings

def fun(a,b):
    ''' takes two int/float values and returns their sum'''
    return a+b

fun(5,6)

11

In [72]:
fun.__doc__

' takes two int/float values and returns their sum'



## Iterator Vs Iterable

- lists, tuples, strings, dictionaries , sets etc.. -------- iterables

- map_objects, filter_objects, zip_objects many more... ----------iterators

- iterables can be iterated many times
- iterators are only iterable once

- iterables are converted to iterators to make them go in loop, and they are converted everytime they are called in to loop

In [24]:
l = [1,2,3,4]

for i in l:
    print (i)
    
# here l is first converted into iterator object , then i picks up each element one by one

1
2
3
4

In [25]:
# this is how for loop converts l to iterator and functions

l = [1,2,3,4]

iterator_obj = iter(l)
iterator_obj

In [26]:
# 4 times for loop calls next function to allocate list elements to i, until list exhausts itself

i = next(iterator_obj)
print(i)
i = next(iterator_obj)
print(i)
i = next(iterator_obj)
print(i)
i = next(iterator_obj)
print(i)

1
2
3
4