In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv('./database/csv_files/Csv_hiring.csv')
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         NaN                    8.0                           9      50000
1         NaN                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    NaN                           7      72000
7        11.0                    7.0                           8      80000

# Data Munging

In [3]:
df.fillna({'experience' : 0,
           'test_score(out of 10)' : df['test_score(out of 10)'].mean()},inplace =True)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         0.0               8.000000                           9      50000
1         0.0               8.000000                           6      45000
2         5.0               6.000000                           7      60000
3         2.0              10.000000                          10      65000
4         7.0               9.000000                           6      70000
5         3.0               7.000000                          10      62000
6        10.0               7.857143                           7      72000
7        11.0               7.000000                           8      80000

In [4]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [5]:
# reg.predict([[2,9,6]])
reg.predict([[12,10,10]])

array([92268.07227784])