In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Dataset

In [2]:
df = pd.read_csv('./database/csv_files/Csv_salary.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

# LabelEncodeing

In [3]:
encoder_company = LabelEncoder()
encoder_job = LabelEncoder()
encoder_degree = LabelEncoder()

In [4]:
encoded_dict = {
    'company' : encoder_company.fit_transform(df.company),
    'job' : encoder_job.fit_transform(df.job),
    'degree' : encoder_degree.fit_transform(df.degree)
}

In [5]:
df.update(pd.DataFrame(encoded_dict))

In [6]:
df

   company job degree  salary_more_then_100k
0        2   2      0                      0
1        2   2      1                      0
2        2   0      0                      1
3        2   0      1                      1
4        2   1      0                      0
5        2   1      1                      1
6        0   2      1                      0
7        0   1      0                      0
8        0   0      0                      0
9        0   0      1                      1
10       1   2      0                      1
11       1   2      1                      1
12       1   0      0                      1
13       1   0      1                      1
14       1   1      0                      1
15       1   1      1                      1

# Train Test Split

In [7]:
x = df.drop('salary_more_then_100k', axis = 1)
y = df.salary_more_then_100k

In [18]:
x_test, x_train, y_test, y_train = train_test_split(x,y,train_size=0.9)

# Descision Tree

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
model_tree = DecisionTreeClassifier(criterion='gini')

In [21]:
model_tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [22]:
model_tree.score(x_test,y_test)

0.5714285714285714