# Chapter 1 (Basics)

## Variables

- Python is dynamic language, no need to declare variables. (no need to state their data type before hand).

###### type(  ) function is used to access the datatype of an object/variable

In [6]:
name = 'Denver'
name,type(name)

('Denver', str)

In [7]:
age = 24
age,type(age)

(24, int)

In [9]:
f_number = 3.24
f_number,type(f_number)

(3.24, float)

In [13]:
choice = True
choice,type(choice)

(True, bool)

In [14]:
choice = None
choice,type(choice)

(None, NoneType)

In [2]:
a = b = c = 8
a,b,c

(8, 8, 8)

In [3]:
name,age = 'Denver', 24
name,age

('Denver', 24)

## Comment

- Used to bypass compiler.
- Just for code explanation.
- shortcut = ctrl + /.

- starts with #

In [16]:
# this sentence is a comment

## Escape Sequence

In [17]:
# \' ----------- '
# \" ----------- "
# \\ ----------- \
# \n ----------- next line
# \t ----------- tab
# \b ----------- backspace

## print( ) function

In [18]:
print('Hello World')

Hello World

In [19]:
print(24+56)

80

In [21]:
# cant use '' inside '' (Error)
# cant use "" inside "" (Error)

# use one inside other


# print('hi "Mohan" sharma')
print("hi 'Mohan' sharma")

hi 'Mohan' sharma

In [24]:
print('I'm ok') 
      #error

SyntaxError: invalid syntax (<ipython-input-24-96c49630aeb5>, line 1)

In [2]:
# print by default ends with \n, so it goes to next line autometically
# to change it we use end parameter

print("hello")
print("world")

hello
world

In [3]:
print('hello',end=',')
print('world')

hello,world

In [27]:
# fix-

print("I'm ok") #normal
print('I\'m ok') #using escape sequence

I'm ok
I'm ok

### String formatting in print function

In [11]:
name = 'Corvo'
age = 45

In [14]:
# type 1 :

print("Your name is - " + name +" & age is - "+ str(age))

Your name is - Corvo & age is - 45

In [16]:
print("Your name is - {} & age is - {}".format(name,age+2))

Your name is - Corvo & age is - 47

In [18]:
print(f"Your name is - {name} & age is - {age-5}")

Your name is - Corvo & age is - 40

## input( ) function

- Takes all kinds of input from users and converts theminto string format
- must cange into desired datatype by using int( ),float( ),bool( ) functions before computation

In [29]:
age = input("Enter age :")
type(age)

Enter age :24

str

In [30]:
age = int(input("Enter age :"))
type(age)

Enter age :24

int

In [4]:
# multiple inputs in a single line

# .split() returns a list making each space separated input as individual element.
# By default it takes 'SPACE' separated input,the separation type can be changed by passing argument inside the function.

music = input("Enter your favourite music :").split()
music

Enter your favourite music :Atttention Starlight How_long

['Atttention', 'Starlight', 'How_long']

In [8]:
type(music)

list

In [5]:
name, age = input("Enter name and age comma separated :").split(",") #its called list unwraping
name,age

Enter name and age comma separated :Dune,45

('Dune', '45')

## Arithmatic Operators

In [28]:
# + --------- add
# - --------- subtract
# * --------- multiply
# / --------- divide (float division, gives a float number as output)

# // -------- divide (int division, gives the integer part as output) [Quotient]
# % --------- modulus [Reminder]

# ** -------- Exponent (to the power)

## Assignment Operators

In [19]:
# = (Real assignment)

# (Modified) :-

# +=
# -=
# *=
# /=
# %=

## Logical operator

In [1]:
# and
# or
# not