# What is Variable?

In [3]:
# - In ML, A Variable is any charecteristic, number, or quantity that can be measured or counted.
# - The entries in each attribute / property can be called a Variable in ML

In [4]:
# - It is important to know the type of the variable such that we can deal and manipulate it according to our need.

# Types Of Variables

## 1. Numerical Variables
- variable where the measurement has a numerical meaning.
- Types of Numerical Variable :
    1. Discrete : 
        - The value can be counted as a whole value
        - Only Integer value allowed
        - Ex : Age, Number of cars can only be a Discrete Numerical variable.
    2. Continuous :
        - The value contains range / measurements
        - All float values fall under this catagory
        - Ex : Temperature, Percentage can be a Continuous Numerical variable.

## 2. Catagorical
- The values of a catagorical variable are selected from a group of catagories / labels
- Types of Catagorical Variables :
    1. Ordinal
        - The catagories are meaningfully ordered
        - When the ordinal variables are given mathematical number it has mathematical value.
        - If we end up giving te numerical values accordig to their order, it will make sense
        - Ex : Grades ( A, B, C, D, E, F) if we number them 1 - 6 this has some meaning as the lower the number , the better the performance is.
        - Quality ( Poor, Average, Good, Very good, Excellent)
        - Days of the week
        - Months of a year
    2. Nominal
        - There is no order between the catagories
        - All labels are equal with no order
        - We mostly use techniques like One Hot Encoding / Dummy Variables to represent them
        - Example : Types of Birds, Programming Languages

## 3. Date & Time (partly belongs to catagorical)
- It can contain Date only / Time only or date and time
- Ex : User login time, bank withdrawal time, train arrival or departure etc..

## 4. Mixed
- When a single Feature / Attribute / Charecteristic contains mixture of different variable types, it is said to have mixed variable
- It is important phase in data cleaning to convert all features into a single variable type

In [7]:
# Example : 
# The performance column contains mixed variable.

import pandas as pd

pd.DataFrame({
    "Roll Number" : [1,2,3,4,5,6],
    "Performance" : [10, 'A++' , 7, 6 , 'Fail', 'Fail']
})

   Roll Number Performance
0            1          10
1            2         A++
2            3           7
3            4           6
4            5        Fail
5            6        Fail