# Chapter 4  (Lists)

- An array that can store any data type
- data repetition is allowed

## Declaring a blank list

In [1]:
l = [] #we can append(insert) stuff into it later
l

[]

##  List Indexing and Slicing
- exactly same as string idexing and slicing

In [2]:
mix = ['Dave','Marcus','Anthony',1,10,45,True,False,None,25.45,89.36,['a1','a2','a3']]

In [3]:
mix[0],mix[5]

('Dave', 45)

In [4]:
mix[-1]

['a1', 'a2', 'a3']

In [5]:
mix[::-1]

[['a1', 'a2', 'a3'],
 89.36,
 25.45,
 None,
 False,
 True,
 45,
 10,
 1,
 'Anthony',
 'Marcus',
 'Dave']

In [6]:
mix[2::2]

['Anthony', 10, True, None, 89.36]

## List Concatination

In [7]:
l1 = ['mango','orange','guava']
l2 = ['banana','strawberry']

l1+l2

['mango', 'orange', 'guava', 'banana', 'strawberry']

## List Methods & Functions

In [8]:
fruits = ['mango','orange','guava','banana','strawberry','banana','mango']

In [9]:
# len( ) function - gives size oflist

len(fruits)

7

In [10]:
# .append( ) method - to insert elements at the end of a list
#changes the original list

fruits.append("coconut")
fruits

['mango',
 'orange',
 'guava',
 'banana',
 'strawberry',
 'banana',
 'mango',
 'coconut']

In [11]:
# .insert( ) method - inserts element in specific place

fruits.insert(5,"grape")
fruits

['mango',
 'orange',
 'guava',
 'banana',
 'strawberry',
 'grape',
 'banana',
 'mango',
 'coconut']

In [12]:
# .extend( ) method - inserts the elements of a list in another list

fruits2 = ["berry","coconut"]
fruits.extend(fruits2)
fruits

['mango',
 'orange',
 'guava',
 'banana',
 'strawberry',
 'grape',
 'banana',
 'mango',
 'coconut',
 'berry',
 'coconut']

In [13]:
# pop( ) method - deletes the last element and then returns the popped value
fruits3 = ["berry","coconut",'kiwi','banana','mango']

poped_value = fruits3.pop()
fruits3, poped_value

(['berry', 'coconut', 'kiwi', 'banana'], 'mango')

In [14]:
# .remove( ) method - removes specific elements by name

fruits3.remove("kiwi")
fruits3

['berry', 'coconut', 'banana']

In [15]:
# if there is a repetition, it removes the first one encountered

music = ['m1','m2','m3','m2','m1','m5']
music.remove("m2")
music

['m1', 'm3', 'm2', 'm1', 'm5']

In [16]:
# .clear( ) method - makes the list an empty list but doesnt deletes it from memory

num = [1,56,8]
num.clear()
num

[]

In [36]:
# del keyword - deletes the whole list
music = ['m1','m2','m3','m2','m1','m5']

del music
music

NameError: name 'music' is not defined

In [18]:
# .count( ) method - counts the number of same element present (Case Sensitive)

fruits = ['mango','orange','guava','banana','strawberry','banana','mango']
fruits.count("mango")

2

In [19]:
# .sort( ) method - sorts numerical/alphabetical order
# changes the original list

fruits.sort()
fruits

['banana', 'banana', 'guava', 'mango', 'mango', 'orange', 'strawberry']

In [20]:
num = [15,3,45,4,6,4,511,556]

num.sort(reverse = True)
num

[556, 511, 45, 15, 6, 4, 4, 3]

In [21]:
# sorted( ) function - sorts, but doesnt changes original list, returns a copy

num = [15,3,45,4,6,4,511,556]
sorted(num),num

([3, 4, 4, 6, 15, 45, 511, 556], [15, 3, 45, 4, 6, 4, 511, 556])

In [22]:
# .index( ) method - returns the index of element

num = [15,3,45,4,6,4,511,556]
num.index(45), num.index(4) #returns the first encounter index of repeted element

(2, 3)

In [23]:
# .copy( ) method - returns a copy of list

num2 = num.copy()
num,num2

([15, 3, 45, 4, 6, 4, 511, 556], [15, 3, 45, 4, 6, 4, 511, 556])

In [24]:
# min( ) function - returns min value
num = [15,3,45,4,6,4,511,556]

min(num)

3

In [25]:
# max( ) function - returns max value
max(num)

556

## .split( ) & .join( ) method

In [26]:
# .split( ) method - breaks a string at a specific char (blank space by defaut) and converts into a list

info = "Harshit_Vashista 24 10.00 A".split()
info

['Harshit_Vashista', '24', '10.00', 'A']

In [27]:
name,age = 'ruck,24'.split(',')
name,age

('ruck', '24')

In [28]:
# .join( ) method joins the string by char specified

info = ['Harshit_Vashista', '24', '10.00', 'A']

string = ",".join(info)
string

'Harshit_Vashista,24,10.00,A'

## Lists are Mutable

- unlike strings, lists are mutable

In [29]:
num = [15,3,45,4,6,4,511,556]
num[3] = 8
num

[15, 3, 45, 8, 6, 4, 511, 556]

In [30]:
num[1:] = "Halo"
num

[15, 'H', 'a', 'l', 'o']

In [31]:
num = [15,3,45,4,6,4,511,556]
num[1:] = ["two",'three','four']
num

[15, 'two', 'three', 'four']

## is keyword

In [32]:
# is is used to compare if both variables are in same memory location or not
# '==' operator only checks value

l1 = [1,2,3]
l2 = l1.copy()
l3 = l1

In [33]:
# l2 is a copy resides in a different memory location

print(l1 == l2)
print(l1 is l2)

True
False

In [34]:
# l3 is just another name for l1, l3 much likely is a pointer(not a pointer tho)

print(l1 == l3)
print(l1 is l3)

True
True

## Generating list with range function

In [35]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]