In [3]:
import numpy as np
import pandas as pd

# What is a feature ?

In [1]:
# Each column in the dataframe is a feature

# the features which are used as inputs for prediction are known as : INDEPENDENT Features
# the feature which is set to be predicted is known as : DEPENDENT Feature

# What is scale of a fetaure ?

In [2]:
# the range of a feature in numeric value is the scale of the feature

In [6]:
# Example :

df = pd.DataFrame({
    'Name' : ['tom','andy','kevin','henry','ruck'],
    'height_in_cm' : [172,156,170,165,178],
    'weight_in_kg' : [56,84,74,69,95],
    'age_in_years' : [18,17,20,21,19],
    'lotteries_won' : [56,84,655,648,89],
    'score' : [64,87,98,65,98]
})

df

    Name  height_in_cm  weight_in_kg  age_in_years  lotteries_won  score
0    tom           172            56            18             56     64
1   andy           156            84            17             84     87
2  kevin           170            74            20            655     98
3  henry           165            69            21            648     65
4   ruck           178            95            19             89     98

in above dataframe: 

- Features : [Name , height_in_cm , weight_in_kg , age_in_years , lotteries_won , score]
- Independent Feature : [Name , height_in_cm , weight_in_kg , age_in_years , lotteries_won]
- Dependent Feature : score

scale of : 

- height_in_cm = (0 - 178)
- weight_in_kg = (0 - 95)
- age_in_years = (0 - 21)
- lotteries_won = (0 - 655)
- score = (0 - 98)

# What is Feature Scaling?

- feature scaling is a method to scale numeric features in the same scale or range like (-1 to 1) or (0 to 1)
- It is the last step involved in data preprocessing
- It is alos known as Data Normalization
- We apply feature scaling on Independent Variables

# Why Feature Scaling required ?

- The scale of raw features is different according to its units
- Machine Learning algorithms cant understand feature units, they understand only numbers.

In [10]:
# Example

# we have 2 enties as : 5km and 2 miles

# ML algorithm will understand 2 miles < 5 km, as it doesnt understand units

# ML algorithms requiring Feature Scaling :

### Those Algorithms who calculate distance
 - KNN (K Nearest Neighbours)
 - K-Means
 - SVM (Support Vector Machine)
 - PCA (Principal Component Analysis)
 - Liear Discriminant Analysis

### Gradient Descent Based Algorithms
- Linear Regression
- Logistic Regression
- Neural Network

# ML algorithms NOT requiring Feature Scaling :

### Tree based Algorithms
- Descision Tree
- Random Forest
- XGBoost

# Types Of Feature Scaling
- Min Max scaler (Normalization)
- Standard scaler (Standardization)
- Max Abs saler
- Robust Scaler
- Quantile Transformer Scaler
- Power Transformer Scaler
- Unit Vector Scaler