# Chapter 5 (Tuples)

- tuples are litrally immutable (unchangeable) lists
- repetitions allowed

## Allowed operations :

In [4]:
# .count( )
# .index( )
# len( )
# min( )
# max( )
# sum( ) - adds all element

# slicing
# tuple using range function :

T = tuple(range(10))
T

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

## Tuple with one element

In [5]:
# while defining a tuple with one element its mandatory to have a comma next to it
# otherwise its gonna treat the element as its datatype

T1 = (5)
T2 = (5,)

type(T1),type(T2)

(int, tuple)

## Tuple Without Parenthesis

In [6]:
T1 = (1,2,3)
T2 = 1,2,3

type(T1),type(T2)

(tuple, tuple)

In [7]:
T1 = ('hat','cat','lion')
T2 = 'hat','cat','lion'

type(T1),type(T2)

(tuple, tuple)

## Lists inside tuples

In [10]:
# we know tuples are immutable, but list inside tuple can be changed

T= (1,2.35,4,True,["mango","guava","berry"])

# T[2] = 56  ----- Error

T[4].append("banana")
T[4][0] = "Strawberry"

T

(1, 2.35, 4, True, ['Strawberry', 'guava', 'berry', 'banana'])

## Tuple Unpacking & function returning multiple values

In [13]:
num = (1,2,3)

n1,n2,n3 = num
print(n1)
print(n2)
print(n3)

1
2
3

In [14]:
def fun(a,b):
    add = a+b
    mul = a*b
    sub = a-b
    
    return add,mul,sub #returned in a tuple form

fun(6,5)

(11, 30, 1)

In [15]:
a,b,c = fun(6,5)
print(a)
print(b)
print(c)

11
30
1